<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><b>FM BANK</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{ 'MENU.HOME' | translate }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/client">{{ 'MENU.ACCOUNT' | translate }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/client/transfer">{{ 'MENU.TRANSFER' | translate }}</a>
      </li>
    </ul>

    <div class="container-fluid" id="flag">
      <a (click)="setLocale('fr')" [ngClass]="{active: locale === 'fr'}"><img src="../../../assets/fr.png" alt="FR"
          class="flag"></a>
      &nbsp;
      <a (click)="setLocale('en')" [ngClass]="{active: locale === 'en'}"><img src="../../../assets/en.png" alt="EN"
          class="flag"></a>
    </div>
    <!-- -->
    <div routerLinkActive="active" class="container text-right">
      <a *ngIf="!storageService.get('isLoggedIn')" class="btn btn-outline-success btn-rounded my-2 my-sm-0" routerLink="/login">{{
        'DIVERS.LOGIN' | translate }}</a>
<a *ngIf="storageService.get('isLoggedIn')" class="btn btn-outline-warning btn-rounded my-2 my-sm-0" routerLink="javascript:void(0);"
        (click)="logout()">{{ 'DIVERS.LOGOUT' | translate }}</a>
    </div>
  </div>
</nav>
