/* You can add global styles to this file, and also import other style files */

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #28a74631;
}

.table {
  margin-top: 20px;
  margin-bottom: 80px;
}

.error {
  padding: 10px;
  background-color: lighten(red, 20%);
  color: white;
}


*::-webkit-input-placeholder {
  color: #28a745 !important;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color:#28a745 !important;
  opacity: 1;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #28a745 !important;
  opacity: 1;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #28a745 !important;
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color:#28a745 !important;
  ;
}

*::placeholder {
  /* modern browser */
  color: #28a745 !important;
  ;
}