fieldset {
  border: 1px dotted #28a745;
  border-radius: .5rem;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

legend {
font-size: 2em;
font-weight: bold;
padding: 0 20px;
}

label {
  border-bottom: 1px solid #28a745;
  margin-right: 5px;
}
