<fieldset class="container-fluid">
  <legend>{{ 'DIVERS.CLIENTLEGEND' | translate }}
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalEditClient">
      <i class="fa fa-pencil-alt"></i></a></legend>

  <div class="form-group">
    <label class="control-label col-sm-2"><i class="fa fa-user-alt"></i> {{ 'CLIENT.CLIENT' | translate }}</label>
    <b>{{client.firstname}} {{client.lastname | uppercase}}</b>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2">
      <i class="fa fa-home"></i> {{ 'CLIENT.ADDRESS' | translate }}
    </label>
    <b>{{client.address}} {{client.postalCode}}, {{client.city | uppercase}}</b>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">
      <i class="fa fa-at"></i> {{ 'CLIENT.EMAIL' | translate }}
    </label>
    <b>{{client.email}}</b>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">
      <i class="fa fa-phone"></i> {{ 'CLIENT.PHONE' | translate }}
    </label>
    <b>{{client.phone}}</b>
  </div>

</fieldset>

<div class="modal fade" id="modalEditClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" (ngSubmit)="onSubmit(clientForm.form)" #clientForm="ngForm">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">{{ 'CLIENT.EDIT' | translate }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>

              <input type="text" value="{{editClient.firstname}}" [(ngModel)]="editClient.firstname" name="firstname" #firstname="ngModel"
                class="form-control validate" placeholder="{{ 'CLIENT.FIRSTNAME' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="firstname"></app-form-error>

              <input type="text" value="{{editClient.lastname}}" [(ngModel)]="editClient.lastname" name="lastname" #lastname="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.LASTNAME' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="lastname"></app-form-error>

            </div>

            <div class="md-form mb-5">
              <i class="fas fa-home prefix grey-text"></i>
              <input type="text" value="{{editClient.address}}" [(ngModel)]="editClient.address" name="address" #address="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.ADDRESS' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="address"></app-form-error>

              <input type="text" value="{{editClient.postalCode}}" [(ngModel)]="editClient.postalCode" name="postalcode" #postalcode="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.POSTALCODE' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="postalcode"></app-form-error>

              <input type="text" value="{{editClient.city}}" [(ngModel)]="editClient.city" name="city" #city="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.CITY' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="city"></app-form-error>

            </div>

            <div class="md-form mb-5">
              <i class="fas fa-at prefix grey-text"></i>
              <input type="email" value="{{editClient.email}}" [(ngModel)]="editClient.email" name="email" #email="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.EMAIL' | translate }}" required>
              <app-form-error [showError]="submitted && !email.valid" [field]="email"></app-form-error>

            </div>

            <div class="md-form mb-5">
              <i class="fas fa-phone prefix grey-text"></i>
              <input type="text" value="{{editClient.phone}}" [(ngModel)]="editClient.phone" name="phone" #phone="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.PHONE' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="phone"></app-form-error>

            </div>

            <div class="md-form mb-5">
              <i class="fas fa-unlock-alt prefix grey-text"></i>
              <input #passwordRef type="password" [(ngModel)]="editClient.password" name="password" #password="ngModel"
              class="form-control validate" placeholder="{{ 'CLIENT.PASSWORD' | translate }}" required>
              <app-form-error [showError]="submitted" [field]="password"></app-form-error>

            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-success">{{ 'DIVERS.VALID' | translate }}</button>
            <button #btnClose class="btn btn-success" data-dismiss="modal" (click)="cancelModal()">{{ 'DIVERS.CANCEL' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
