<div class="container-fluid">


  <div *ngIf="error" class="error">
    <pre>{{ error | json }}</pre>
  </div>

  <table class="table table-striped table-hover">
    <thead class="text-white">
      <tr class="bg-success">
        <th scope="col">{{ 'ACCOUNT.LABEL' | translate }}</th>
        <th scope="col">{{ 'ACCOUNT.OVERDRAFT' | translate }}</th>
        <th scope="col">{{ 'ACCOUNT.INTERESTRATE' | translate }}</th>
        <th scope="col">{{ 'ACCOUNT.MINIMUMBALANCE' | translate }}</th>
        <th scope="col">{{ 'ACCOUNT.TYPE' | translate }}</th>
        <th scope="col">{{ 'ACCOUNT.BALANCE' | translate }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td scope="col">{{ account.label }}</td>
        <td scope="col">{{ 'OPERATION.EURO' | translate:{ amount: account.overdraft} }}</td>
        <td scope="col">{{ 'OPERATION.PERCENT' | translate:{ percent: account.interestRate} }}</td>
        <td scope="col">{{ 'OPERATION.EURO' | translate:{ amount: account.minimumBalance} }}</td>

        <td scope="col" *ngIf="account.type=='current'"><i class="fa fa-money-bill-wave" aria-hidden="true" title="{{ 'ACCOUNT.CURRENT' | translate }}"></i></td>
        <td scope="col" *ngIf="account.type=='saving'"><i class="fa fa-piggy-bank" aria-hidden="true" title="{{ 'ACCOUNT.SAVING' | translate }}"></i></td>

        <td scope="col">{{ 'OPERATION.EURO' | translate:{ amount: account.balance} }}</td>

        <td scope="col" class="text-right">
          <a type="button" routerLink="account/{{account.id}}" class="btn btn-success px-3" title="{{ 'ACCOUNT.DETAIL' | translate }}"><i class="fa fa-eye text-white"></i></a>
          &nbsp;
          <a type="button" routerLink="operation/{{account.id}}" class="btn btn-success px-3" title="{{ 'ACCOUNT.OPERATION' | translate }}"><i class="fa fa-exchange-alt text-white" aria-hidden="true"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
