<div class="container-fluid">
  <marquee behavior="alternate" scrollamount="10" *ngIf="!storageService.get('isLoggedIn')">{{ 'DIVERS.SLOGAN' |
    translate }}</marquee>
  <marquee behavior="alternate" scrollamount="10" *ngIf="storageService.get('isLoggedIn')">{{ 'DIVERS.WELCOMEDISPLAY' |
    translate:{ first: client.firstname, last: client.lastname} }} </marquee>
</div>
