<div class="container-fluid">


  <div *ngIf="error" class="error">
    <pre>{{ error | json }}</pre>
  </div>
  <a type="button" routerLink="/client/operation/{{account.id}}" class="btn btn-success px-3" title="{{ 'ACCOUNT.OPERATION' | translate }}">
    <i class="fa fa-exchange-alt text-white" aria-hidden="true"></i> {{ 'ACCOUNT.OPERATION' | translate }}</a>

  <table class="table table-striped table-hover">
    <thead class="text-white">
      <tr class="bg-success">
        <th scope="col" style="width: 15%">{{ 'OPERATION.DATECREATE' | translate }}</th>
        <th scope="col" style="width: 40%">{{ 'OPERATION.LABEL' | translate }}</th>
        <th scope="col" style="width: 30%">{{ 'OPERATION.TYPE' | translate }}</th>
        <th scope="col" class="text-right" style="width: 15%">{{ 'OPERATION.AMOUNT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
<!-- <tr *ngFor="let operation of operations" [class.table-warning]="operation.type=='debit'" [class.table-success]="operation.type=='credit'"> -->
      <tr *ngFor="let operation of operations">

        <td scope="col" >{{ operation.dateCreate | date:'EEE d MMMM y' }}</td>
        <td scope="col">{{ operation.label }}</td>

        <td scope="col" *ngIf="operation.type == 'credit'">{{ 'OPERATION.CREDIT' | translate }}</td>
        <td scope="col" *ngIf="operation.type == 'debit'">{{ 'OPERATION.DEBIT' | translate }}</td>

        <td scope="col" [class.text-danger]="operation.type=='debit'" class="text-right"><b>{{ 'OPERATION.EURO' | translate:{ amount: operation.amount} }}</b></td>
      </tr>
    </tbody>
  </table>
</div>
