<fieldset class="container-fluid">
  <legend>{{ 'OPERATION.OPERATION' | translate }} </legend>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <form class="form" (ngSubmit)="onSubmit(operationForm.form)" #operationForm="ngForm">

          <div class="form-group row">
            <label for="label" class="col col-form-label"><i class="fa fa-tags"></i> {{ 'OPERATION.LABEL' | translate
              }} <app-form-error [showError]="submitted" [field]="label"></app-form-error></label>
            <div class="col">
              <input type="text" [(ngModel)]="operation.label" name="label" #label="ngModel" class="form-control validate"
                placeholder="{{ 'COMMON.VALIDATION.REQUIRED' | translate }}" required autocomplete="off">
            </div>
          </div>


          <div class="form-group row">
            <label for="amount" class="col col-form-label"><i class="fa fa-euro"></i> {{ 'OPERATION.AMOUNT' | translate
              }} <app-form-error [showError]="submitted" [field]="amount"></app-form-error></label>
            <div class="col">
              <input type="number" [(ngModel)]="operation.amount" name="amount" #amount="ngModel" class="form-control validate"
                placeholder="{{ 'COMMON.VALIDATION.REQUIRED' | translate }}" required autocomplete="off">
            </div>

          </div>

          <div class="form-group row">
            <label for="amount" class="col col-form-label"><i class="fa fa-exchange-alt "></i> {{ 'OPERATION.TYPE' |
              translate}} <app-form-error [showError]="submitted" [field]="type"></app-form-error></label>
            <div class="col">
              <select class="form-control" [(ngModel)]="operation.type" name="type" #type="ngModel" required>
                <option value="credit">{{ 'OPERATION.CREDIT' | translate }}</option>
                <option value="debit">{{ 'OPERATION.DEBIT' | translate }}</option>
              </select>
            </div>

          </div>

          <button type="submit" class="btn btn-success">{{ 'DIVERS.VALID' | translate }}</button>
        </form>

      </div>
      <div class="col align-top">
        <table class="table">
          <tbody>
            <tr>
              <th class="bg-success">{{ 'ACCOUNT.LABEL' | translate }}</th>
              <td scope="col">
                <i *ngIf="account.type=='current'" class="fa fa-money-bill-wave" aria-hidden="true" title="{{ 'ACCOUNT.CURRENT' | translate }}"></i>
                <i *ngIf="account.type=='saving'" class="fa fa-piggy-bank" aria-hidden="true" title="{{ 'ACCOUNT.SAVING' | translate }}"></i>
                {{ account.label }}
              </td>
            </tr>
            <tr>
              <th scope="col" class="bg-success">{{ 'ACCOUNT.BALANCE' | translate }}</th>
              <td scope="col">{{ 'OPERATION.EURO' | translate:{ amount: account.balance} }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>
