<fieldset class="container-fluid">
  <legend>{{ 'OPERATION.TRANSFER' | translate }} </legend>

  <div *ngIf="error" class="error">{{ error }}</div>

  <form class="form" (ngSubmit)="onSubmit(transferForm.form)" #transferForm="ngForm">

    <div class="form-group row ">
      <label for="selectAccount" class="control-label col-sm-2">&nbsp;</label>
      <div class="col">
        <select class="form-control bg-success text-white" name="selectAccount" (change)="selectAccount($event.target.value)">
          <option value="account">{{ 'OPERATION.INTERN' | translate }}</option>
          <option value="client">{{ 'OPERATION.EXTERN' | translate }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="fromId" class="control-label col-sm-2"><i class="fa fa-tags"></i> {{ 'OPERATION.FROM' | translate }}</label>
      <div class="col">
        <select class="form-control" [(ngModel)]="transfer.fromId" name="fromId" #fromId="ngModel" required>
          <option *ngFor="let account of accounts" value="{{ account.id }}">
            <span *ngIf="account.type=='current'">{{ 'ACCOUNT.CURRENT' | translate }}</span>
            <span *ngIf="account.type=='saving'">{{ 'ACCOUNT.SAVING' | translate }}</span>
            n° {{ account.label }} - solde : {{ 'OPERATION.EURO' | translate:{ amount: account.balance} }}
          </option>
        </select>
        <app-form-error [showError]="submitted" [field]="fromId"></app-form-error>
      </div>
    </div>

    <div class="form-group row">
      <label for="toAccount" class="control-label col-sm-2"><i class="fa fa-tags"></i> {{ 'OPERATION.TO' | translate }}</label>
      <div class="col">
        <select #selAccount class="form-control" [(ngModel)]="transfer.toAccount" name="toAccount" #toAccount="ngModel"
          (change)="searchAccountTo($event.target.value, 'intern')" required>
          <option *ngFor="let account of accounts" value="{{ account.id }}">
            <span *ngIf="account.type=='current'">{{ 'ACCOUNT.CURRENT' | translate }}</span>
            <span *ngIf="account.type=='saving'">{{ 'ACCOUNT.SAVING' | translate }}</span>
            n° {{ account.label }} - solde : {{ 'OPERATION.EURO' | translate:{ amount: account.balance} }}
          </option>
        </select>
        <app-form-error [showError]="submitted" [field]="toAccount"></app-form-error>

        <select #selClient disabled hidden class="form-control" [(ngModel)]="transfer.toClient" name="toClient"
          #toClient="ngModel" (change)="searchAccountTo($event.target.value, 'extern')" required>
          <option *ngFor="let client of clients" value="{{ client.id }}">
            {{ client.firstname }} {{ client.lastname }}
          </option>
        </select>
        <app-form-error [showError]="submitted" [field]="toClient"></app-form-error>

      </div>
    </div>

    <div class="form-group row">
      <label for="amount" class="control-label col-sm-2"><i class="fa fa-euro"></i> {{ 'OPERATION.AMOUNT' | translate
        }}</label>
      <div class="col">
        <input type="number" [(ngModel)]="transfer.amount" name="amount" #amount="ngModel" class="form-control validate"
          placeholder="{{ 'COMMON.VALIDATION.REQUIRED' | translate }}" required autocomplete="off">
        <app-form-error [showError]="submitted" [field]="amount"></app-form-error>
      </div>
    </div>

    <div class="form-group row">
      <label for="label" class="control-label col-sm-2"><i class="fa fa-tags"></i> {{ 'OPERATION.LABEL' | translate }}</label>
      <div class="col">
        <input type="text" [(ngModel)]="transfer.label" name="label" #label="ngModel" class="form-control validate"
          placeholder="{{ 'COMMON.VALIDATION.REQUIRED' | translate }}" required autocomplete="off">
        <app-form-error [showError]="submitted" [field]="label"></app-form-error>
      </div>
    </div>

    <button type="submit" class="btn btn-success">{{ 'DIVERS.VALID' | translate }}</button>
  </form>
</fieldset>
