.loginBox {
  background: #FFF;
  margin-top: 20px;
  padding: 20px 15px;
  border: #EEE 1px solid;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.loginBox h3 {
  margin-bottom: 25px;
}

.error {
  color: #a94442;
}