<div class="container">
  <div class="col-md-6 col-md-offset-2 loginBox">
    <h3>{{ 'DIVERS.LOGIN' | translate }}</h3>
    <p *ngIf="message" class="text-center error text-danger">{{message}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.userId.errors }">

        <div class="input-group col-md-9 col-sm-7 col-xs-12">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email-input">
              <i class="fas fa-envelope prefix text-secondary"></i>
            </span>
          </div>
          <input type="email" class="form-control" formControlName="userId" placeholder="{{ 'DIVERS.YOURMAIL' | translate }}" />
          <div *ngIf="submitted && f.userId.errors" class="help-block">
            <div *ngIf="f.userId.errors.required">Email is required</div>
          </div>
        </div>
      </div>
      <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.password.errors }">

        <div class="input-group col-md-9 col-sm-7 col-xs-12">
          <div class="input-group-prepend">
            <span class="input-group-text" id="password-input">
              <i class="fas fa-lock prefix text-secondary"></i>
            </span>
          </div>
          <input type="password" class="form-control" formControlName="password" placeholder="{{ 'DIVERS.YOURPASS' | translate }}" />
          <div *ngIf="submitted && f.password.errors" class="help-block">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 form-group text-right">
        <button class="btn btn-success" type="submit">{{ 'DIVERS.VALID' | translate }}</button>
      </div>
    </form>
  </div>
</div>
